

/* X-Small devices (portrait phones, less than 576px) */
@media all and (max-width: 36em) {
    .p-desc{
        align-items: center;
    }
    .p-items img{
        object-fit: cover;
    }
    #special .tagline .hr{
        width: 70%;
    }


    /* Contact page = contact section */
    .contact{
        flex-direction: column;
        row-gap: 50px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media all and (max-width: 48em) {
    
    .home-container, .popular-container, .daily-container, .contact-container, .special-container{
        width: 92%;
    }
    /* Home section */
    
    .home-middle{
        width: 100%;
        transform: translateY(0);
    }
    .home-bottom{
        transform: translateY(0);
        /* position: absolute;
        bottom: -120px;
        left: 0; */
    }

    .home-top img:first-child, .home-top img:last-child{
        display: none;
    }
    
    
    .menu{
        flex-direction: column;
        row-gap: 50px;
    }
    .menu .menu-left ul {
        background-size: contain;
        background-position: center;
    }
    .p-items{
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media all and (max-width: 62em) {
    /* Navbar */
    nav label{
        display: block;
    }
    nav label i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-right ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 30%;
        position: fixed;
        top: 80px;
        right: -30%;
        column-gap: 30px;
        background-color: rgba(160, 49, 49, 0.459);
        transition: right 0.5s ease-in-out;
    }
    .navbar-right ul li{
        margin-bottom: 25px;
    }
    nav input:checked ~ .navbar-right ul{
        right: 0;
    } 

    #home{
        height: 850px;
    }
    
    .special{
        flex-direction: column;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media all and (max-width: 75em) {
    #home{
        height: 880px;
    }

}

/* // X-Large devices (large desktops, less than 1400px) */
@media all and (max-width: 87.5em) {

}

